@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --bg-dark: #21222c;
  --bg-darker: #191a21;
  --bg-light: #343746;
  --bg-lighter: #424450;
  --bg-purple: #454158;
  --bg: #282a36;
  --border: #4c5067;
  --canvas: #111;
  --foreground: #f8f8f2;
  --red: #ff5555;
}
::-webkit-scrollbar {
  -webkit-border-radius: 100px;
  background-color: rgba(189, 147, 249, 0);
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(189, 147, 249, 0.09);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  background: rgba(189, 147, 249, 0.5);
  border: 2px solid rgba(189, 147, 249, 0);
  min-height: 10px;
  min-width: 10px;
}
::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 100px;
  background: rgba(189, 147, 249, 0.61);
}
* {
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
}
body {
  background: var(--bg);
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
}
.container > * {
  flex: 1 100%;
  padding: 10px;
}
.main #canvas {
  background: var(--canvas);
  cursor: pointer;
  image-rendering: pixelated;
  left: -300px;
  position: relative;
  top: 0;
}
#header {
  align-items: center;
  background: var(--bg-purple);
  border: 1px solid var(--border);
  justify-content: center;
  text-align: center;
  z-index: 99;
}
.main {
  align-items: center;
  background: var(--bg-darker);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}
.button {
  background-color: var(--bg-lighter);
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  min-width: 64px;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.2s;
  vertical-align: middle;
  width: 100%;
}
.button::-moz-focus-inner {
  border: none;
}
/* Overlay */
.button::before {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;
}
.button:hover::before {
  opacity: 0.08;
}
.button:focus::before {
  opacity: 0.24;
}
.button:hover:focus::before {
  opacity: 0.3;
}
.button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}
.tabs > input,
.tabs section > div {
  display: none;
}
#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3,
#tab4:checked ~ section .tab4 {
  display: block;
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs {
  margin: 0 auto;
  width: 100%;
}
.tabs ul {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
}
.tabs li {
  border-bottom: 1px solid var(--border);
  flex-grow: 1;
  width: 100%;
}
.tabs ul li label {
  background: var(--bg-dark);
  border-bottom: 0;
  border: 1px solid var(--border);
  color: var(--comment);
  float: left;
  padding: 15px 25px;
  transition: 0.1s;
  width: 100%;
}
.tabs ul li label:hover,
.tabs ul li label:active {
  background: var(--bg-light);
  transition: 0.25s;
}
.tabs ul li:not(:last-child) label {
  border-right-width: 0;
}
.tabs section {
  clear: both;
}
.tab {
  border-radius: 5px;
  border: 1px solid var(--border);
  height: 60vh;
  overflow-y: scroll;
  padding: 15px;
}
.tabs section div {
  background: var(--bg-light);
  width: 100%;
}
#sidebar > div > section > div.tab {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--border);
  z-index: 999;
}
#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label,
#tab4:checked ~ nav .tab4 label {
  background: var(--bg-light);
  color: var(--foreground);
  font-weight: bolder;
  position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after,
#tab4:checked ~ nav .tab4 label:after {
  background: var(--purple);
  bottom: -1px;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
.item-first {
  align-self: flex-start;
}
.item-center {
  align-self: center;
}
.item-last {
  align-self: flex-end;
}
.button_actions {
  display: flex;
  flex-direction: column;
}
svg {
  display: none;
  transform: scale(1);
}
input[type="number"] {
  background-color: transparent;
  border: 1px solid var(--border);
  text-align: right;
}
select {
  background-color: var(--bg-lighter);
  border: 1px solid var(--border);
  color: var(--foreground);
  text-align: center;
  width: 100%;
}
.row p {
  margin-right: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid var(--border);
  padding: 5px;
  text-align: left;
}
td:first-child,
th:first-child {
  width: 90%;
}
td:last-child,
th:last-child {
  text-align: center;
}
th {
  background-color: var(--bg-lighter);
}
#floating_gui {
  border-radius: 5px;
  bottom: 10px;
  max-height: 100vh;
  overflow-y: hidden;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 30%;
}
#sidebar {
  border-radius: 5px;
  border: 1px solid var(--border);
  display: none;
  z-index: 999;
}
.box {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 10px;
  z-index: 999;
}
#organism_selected {
  color: var(--red);
}
input[type="file"] {
  display: none;
}
#export_neuralnet {
  display: none;
}
#organism_info {
  display: none;
}
